<div class="row">
  <div class="small-12 columns">
    <%= form_for(resource, as: resource_name, url: '/password', html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit 'Reset', class: 'button white-button' %>
      </div>
    <% end %>
  </div>
</div>
