<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="copyright" content="<%= Date.today.year %> Puhsh Inc" />
    <meta name="google-site-verification" content="UjLFXfNNAkms8gV9en1eZAvrG0_rqC90dfLxv1Jd7rc" />
    <meta name="google-site-verification" content="qISal6V5p3VOmvqtiPRg8zEW1Is_PxATwVOC_Tf1M3I" />

    <title><%= content_for?(:title) ? yield(:title) : "PICNOW" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.ico' %>
    <script src="//use.typekit.net/fum8gif.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body class="with-background-cover">
    <section class="container">
      <%= yield %>
      <%= javascript_include_tag "application" %>
    </section>
    <section>
    </section>
  </body>
</html>
